infisical:
  address: "{{ infisical_agent_domain }}"
auth:
  type: "universal-auth"
  config:
    client-id: "{{ infisical_agent_runtime_dir }}/client-id"
    client-secret: "{{ infisical_agent_runtime_dir }}/client-secret"
sinks:
  - type: "file"
    config:
      path: "{{ infisical_agent_token_file }}"

